2021 Detailed Project Plan/2021 IDS detailed project plan.docx
/RepositoryAutomation/build/bin
/RepositoryAutomation/build/obj/
.vscode/
.tmp/
/RepositoryAutomation/build/.vs/
**/.nuke/temp/
/.vs/
/RepositoryAutomation/SchemaProject/.vs/
/RepositoryAutomation/SchemaProject/bin/
/RepositoryAutomation/SchemaProject/obj/
/RepositoryAutomation/SchemaProject/Ids.cs
.DS_Store